<!doctype html>
<html>
<head>
    <title>Blog Post</title>
    <style>
        .error {
            color:red;
        }
        
    </style>
     <nav>
         <ul>
            <li><a href="/blog">Main Blog</a></li>
            <li><a href="/newpost">Post something!</a></li>
            <li><a href="/signup">Signup</a></li>
        </ul>  
    </nav>
    <nav>
        <a href="/login">Login</a>
        <a href="/signup">Signup!</a>
    
    </nav>
</head>
<body>
   
    {% block content %}

    {% endblock %}


</body>


</html>
